<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.crave.food.delivery">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/NoActionBar">
        <activity android:name=".activities.notification_main"></activity>
        <activity android:name=".activities.offers_main" />
        <activity android:name=".CartMain" />
        <activity android:name=".SelectLocation" />
        <activity android:name=".FoodButtonClicked" />
        <activity android:name=".PaymentCreditDebit" />
        <activity android:name=".PaymentMain" />
        <activity android:name=".fragments.TableFragment" />
        <activity android:name=".fragments.RestuarantViewFragment" />
        <activity android:name=".fragments.RestuarantFragment" />
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>